/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap"); */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--darkwhite);
  background-attachment: fixed;
}

:root {
  --border: 2px solid red;
  --border2: 2px solid blue;
  --darkwhite: rgba(235, 231, 231, 0.923);
}
/* PRELOADED DIV */
.pree {
  height: 100vh;
  width: 100vw;
  position: absolute;

  background-color: rgb(104, 103, 103);
  z-index: 999;
  display: grid;
  place-content: center;
  top: 0;
  font-family: helvetica;
  box-sizing: border-box;
  overflow: hidden;
  grid-template-areas:
    "aa bb cc dd"
    " ee ee ee ee ";
}
.pree b {
  color: rgb(29, 27, 27);
  white-space: nowrap;
  letter-spacing: 2px;
  animation: predisplay 1s steps(4, end) infinite alternate;
  grid-area: ee;
  margin-left: -60px;
  font-size: 26px;
}
.pre_circ1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(223, 61, 61, 0.767);
  margin-bottom: 30px;
  grid-area: aa;
  margin-left: 10px;
  animation: firstt 1s steps(4, end) infinite alternate;
}
.pre_circ2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(60, 173, 111, 0.733);
  margin-bottom: 30px;
  margin-left: -40px;
  grid-area: bb;
  animation: secondd 1s steps(4, end) infinite alternate;
}
.pre_circ3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(66, 120, 165, 0.733);
  margin-bottom: 30px;
  margin-left: -50px;
  grid-area: cc;
  animation: thirdd 1s steps(4, end) infinite alternate;
}
.pre_circ4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(168, 88, 155, 0.733);
  margin-bottom: 30px;
  margin-left: -60px;
  grid-area: dd;
  animation: fourth 1s steps(4, end) infinite alternate;
}
/* THE MAIN CONTAINER */
.main_cont {
  display: grid;
  height: 95vh;
  margin-left: 20px;
  /* border: var(--border); */
  overflow-x: auto;
  scroll-behavior: smooth;
}
/* THE HEADER */
header {
  /* border: var(--border); */
  height: 8vh;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-family: "Aladin", sans-serif;
  box-sizing: border-box;
}
/* THE ANCHOR TAG CONTAINER */
.btn_type_cont {
  /* border: var(--border); */
  height: 8vh;
  overflow-x: auto;
  display: flex;
  column-gap: 15px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}
/* THE BUTTON ANCHOR LINKS TEXTS */
.btn_type_cont a {
  /* border: var(--border2); */
  padding: 15px;
  background-color: rgba(225, 225, 225, 0.937);
  border-radius: 8px;
  color: black;
  font-weight: 600;
}
/* FIRST CHILD OF THE ANCHOR TEXT */
.btn_type_cont a:nth-child(1) {
  background-color: rgba(0, 57, 150, 0.885);
}

/* ROOM TYPE TEXTS */
.room_type {
  /* border: var(--border); */
  height: 7vh;
  display: grid;
  align-items: end;
  padding-bottom: 5px;
  font-size: 28px;
  font-family: helvetica;
  margin-bottom: 15px;
}
/* THE CONTAINER FOR THE ROOMS DIV */
.rooms_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
  overflow-x: auto;
  /* border: var(--border2); */
  height: 55vh;
  padding: 2px;
  scroll-snap-type: x mandatory;
}

/* THE CONTAINER FOR IMAGE AND DESCRIPTION */
.rooms {
  /* border: var(--border); */
  min-width: 90%;
  scroll-snap-align: start;
  display: grid;
  grid-template-rows: 1.5fr 1fr 0.3fr;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 0px 2px white inset, -2px -2px 0px white inset;
}
/* THE IMAGE */
.img {
  /* border: var(--border2); */
  margin: 10px;
  height: 100%;
  border-radius: 10px;
  background-image: url(./img/img6.jpg);
  background-position: center;
  background-size: cover;
}
/* THE DESCRIPTION */
.descr {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(113, 110, 110);
  font-family: "Noto Serif JP", helvetica;
  /* border: var(--border2); */
}
/* THE PRICE */
.price {
  /* border: var(--border2); */
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 20px;
  justify-content: space-between;
  display: flex;
}
/* BOOK NOW BUTTON */
.book {
  font-size: 13px;
  font-family: helvetica;
  margin: 2px;
  justify-self: flex-end;
  margin-right: 5px;
  display: grid;
  color: white;
  place-content: center;
  border-radius: 10px;
  background-color: black;
  width: 50%;
}

span {
  font-size: 20px;
  font-weight: 200;
}
footer {
  margin-top: 9px;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: flex-end;
  color: rgba(6, 5, 5, 0.932);
  font-weight: 800;
  background-color: white;
}
footer a {
  color: rgba(6, 5, 5, 0.932);
}
/* NEWLY ADDED ELEMENTS */

.bck_arrow {
  position: absolute;
  top: 20px;
  left: 10px;
  display: none;
  font-size: 30px;
}
.img_div {
  height: 60vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.circ_cont {
  width: 95%;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circ {
  margin-right: 15px;
  margin-bottom: 2px;
  border-radius: 50%;
  background-color: black;
  width: 10px;
  height: 10px;
}

.circ:hover {
  background-color: rgba(29, 27, 27, 0.672);
}
.descr_new {
  font-size: 30px;
  line-height: 1.2;
  font-family: helvetica;
  display: grid;
  place-content: center;
  margin-left: 8px;
  margin-top: -15px;
  font-family: "Noto Serif JP", helvetica;
}
.price_new {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-left: 8px;
}
/* small phones with small height and small width */
@media (max-width: 520px) and (max-height: 690px) {
  .img {
    height: 115%;
  }
  .btn_type_cont a {
    padding: 10px;
  }
  .room_type {
    font-size: 26px;
  }
  .rooms_cont {
    height: 70vh;
  }
  .descr {
    font-size: 20px;
    height: 68%;
    margin-top: 10vh;
  }
  .price {
    font-size: 18px;
  }
  span {
    font-size: 13px;
  }

  .pree b {
    margin-left: 20px;
    font-size: 18px;
  }
}
/* small phones that are tilted with very small height and okay width */
@media (max-width: 920px) and (max-height: 460px) {
  footer {
    font-size: 25px;
  }
  .rooms {
    min-width: 30%;
  }
  .descr {
    font-size: 15px;
    font-weight: 800;
  }
  .price {
    font-size: 20px;
  }
}
/* DEVICE WITH LARGE WIDTH AND HEIGHT  */
@media (min-width: 820px) and (min-height: 460px) {
  footer {
    font-size: 28px;
  }
  .rooms {
    min-width: 40%;
    max-height: 50vh;
  }
  .descr {
    font-size: 32px;
  }
  .btn_type_cont a {
    width: 30%;
    padding: 20px;
    font-size: 25px;
    text-align: center;
  }
  .img_div {
    height: 60vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
  }
  .circ_cont {
    width: 95%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circ {
    margin-right: 15px;
    margin-bottom: 2px;
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
  }

  .circ:hover {
    background-color: rgba(29, 27, 27, 0.672);
  }
  .descr_new {
    font-size: 55px;
    font-family: helvetica;
    display: grid;
    place-content: center;
    margin-left: 8px;
    margin-top: -40px;
  }
  .price_new {
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    margin-left: 8px;
  }
}

/* IPAD AIR AND MINI */
@media (max-width: 830px) and (min-height: 1020px) {
  footer {
    font-size: 25px;
  }
  .rooms {
    min-width: 60%;
  }
  .descr {
    font-size: 28px;
  }
  .room_type {
    font-size: 35px;
  }
  .btn_type_cont a {
    width: 30%;
    padding: 20px;
    font-size: 25px;
    text-align: center;
  }
  header {
    font-size: 35px;
  }
  /* NEW ELEMENT */
  .img_div {
    height: 60vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
  }
  .circ_cont {
    width: 95%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circ {
    margin-right: 15px;
    margin-bottom: 2px;
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
  }

  .circ:hover {
    background-color: rgba(29, 27, 27, 0.672);
  }
  .descr_new {
    font-size: 50px;
    font-family: helvetica;
    display: grid;
    place-content: center;
    margin-left: 8px;
    margin-top: -10px;
  }
  .price_new {
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    margin-left: 8px;
  }
}

/* NEW ELEMENT FOR NEST HUB */
@media (max-height: 600px) and (min-width: 1023px) {
  .descr {
    margin-top: 40px;
    font-family: helvetica;
    font-size: 25px;
  }
  .img {
    height: 120%;
  }
  footer {
    font-size: 27px;
    align-items: flex-start;
    margin-top: 2px;
  }

  .img_div {
    height: 60vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
  }
  .circ_cont {
    width: 95%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circ {
    margin-right: 15px;
    margin-bottom: 2px;
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
  }

  .circ:hover {
    background-color: rgba(29, 27, 27, 0.672);
  }
  .descr_new {
    font-size: 30px;
    font-family: helvetica;
    display: grid;
    place-content: center;
    margin-left: 8px;
    margin-top: -10px;
  }
  .price_new {
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    margin-left: 8px;
  }
}

@media (max-width: 376px) {
  .descr_new {
    font-size: 22px;
    line-height: 1.2;
    font-family: helvetica;
    display: grid;
    place-content: center;
    margin-left: 8px;
    margin-top: -10px;
  }
}
/* FOR HALF VIEW DESKTOP SCREEN */
@media (min-width: 650px) and (max-height: 890px) and (max-width: 900px) {
  .rooms {
    min-width: 55%;
  }
  header {
    color: red;
  }
  .btn_type_cont {
    border-radius: 50%;
    overflow: hidden;
  }
  .btn_type_cont a {
    width: 23%;
    text-align: center;
    padding: 30px;
  }
}

/* DESKTOP CSS CODES */
.main_cont_desktop {
  display: grid;
  grid-template-columns: 0.4fr 2.3fr 1.3fr;
  gap: 5px;
  height: 100vh;
}
/* DESKTOP LEFT SIDE */
.left_side_desktop {
  background-color: rgba(255, 255, 255, 0.892);
  height: 100vh;
  display: grid;
  grid-template-rows: 0.42fr 2.06fr 1.48fr;
}
.hotel_name_desktop {
  display: grid;
  place-content: start;
  font-size: 15px;
  white-space: nowrap;
  font-family: aladin;
  color: rgb(11, 100, 178);
  letter-spacing: 2px;
}
.hotel_name_desktop h2 {
  margin: 10px;
}
.menu_bar_desktop {
  display: grid;
  align-items: center;
  gap: 1px;
}
.menu_bar_desktop a:nth-child(4) {
  letter-spacing: normal;
}

.menu_bar_desktop a {
  color: rgb(12, 9, 9);
  margin-left: 10px;
  background-color: var(--darkwhite);
  white-space: nowrap;
  padding: 10px;
  letter-spacing: 5px;
  font-size: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: 2px solid rgb(26, 155, 235);
}
.menu_bar_desktop a:nth-child(2) {
  color: rgb(25, 140, 211);
  border-right: none;
}
.menu_bar_desktop a:hover {
  color: rgb(25, 140, 211);
  cursor: pointer;
}
.discount {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  background-image: url(./img/img2.jpg);
  background-position: top;
  background-size: 150%;
  background-repeat: no-repeat;
  -webkit-filter: opacity(0.8);
}

.discount b {
  padding-left: 8px;
}

/* DESKTOP MIDDLE SIDE */
.mid_side_desktop {
  /* border: var(--border); */
  display: grid;
  grid-template-rows: 0.5fr 0.3fr 2.1fr 1.2fr;
  gap: 15px;
  height: 100vh;
}
.header_desktop {
  /* border: var(--border2); */

  display: grid;
  place-content: center;
  font-family: "aladin", Helvetica;
  letter-spacing: 5px;
}
.hotel_type_cont_desktop {
  display: flex;
  gap: 110px;
  align-items: center;
  /* border: var(--border2); */
  height: 70%;
  justify-content: center;
  letter-spacing: 3px;
  border-bottom: 2px solid rgba(39, 141, 204, 0.673);
  border-top: 2px solid rgba(39, 141, 204, 0.673);
}
.hotel_type_cont_desktop a {
  /* border: var(--border); */
  padding: 10px;
  color: rgb(12, 9, 9);
  background-color: rgba(194, 217, 231, 0.673);
  box-shadow: 2px 2px 0px 2px rgba(183, 204, 217, 0.603) inset,
    -2px -2px 0px 2px rgba(183, 204, 217, 0.603) inset;
}
.hotel_type_cont_desktop a:nth-child(1) {
  padding: 10px;
  background-color: rgba(39, 141, 204, 0.673);
  box-shadow: 2px 2px 0px 2px rgba(183, 204, 217, 0.603) inset,
    -2px -2px 0px 2px rgba(183, 204, 217, 0.603) inset;
}
.hotel_type_cont_desktop a:hover {
  background-color: rgba(39, 141, 204, 0.673);
}
/* FOR THE ROOMS IN DESKTOP VIEW */
.main_rooms_cont_desktop {
  display: flex;
  /* border: var(--border); */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-left: 10px;
  gap: 10px;
  scroll-behavior: smooth;
}

/* THE DIV CONTAING THE CONTAINER FOR THE ROOMS */
.rooms_type_cont_desktop {
  display: flex;
  gap: 19px;
  min-width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  scroll-snap-align: end;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.rooms_type_cont_desktop:nth-child(1) {
  padding-left: 20px;
}

/* THE DIV CONTAINER FOR ROOM IMAGES AND DESCRIPTIONS  */
.rooms_desktop {
  /* border: var(--border); */
  min-width: 400px;
  scroll-snap-align: start;
  background-color: white;
  border-radius: 15px;
}
.img_desktop {
  /* border: var(--border2); */
  border-radius: 10px;
  margin: 15px;
  margin-top: 8px;
  height: 60%;
  background-image: url(./img/img6.jpg);
  background-size: cover;
  background-position: center;
}
.decr_desktop {
  /* border: var(--border2); */
  display: grid;
  justify-content: center;
  padding-left: 5px;
  overflow: hidden;
  font-family: sans-serif;
  box-sizing: border-box;
  gap: 5px;
}

.decr_desktop b {
  /* border: var(--border); */
  font-size: 20px;
  padding-right: -5px;
}
.decr_desktop h2 {
  /* border: var(--border2); */
  margin-top: 15px;
}
/* FOOD AND DRINKS FROM RESTAURANT SLIDE SHOW */
.restaurant_desktop {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
}
.dish_img {
  border-radius: 30px;
  animation: food 25s ease infinite alternate-reverse;
  -webkit-filter: opacity(0.7);
}
.drink_img {
  border-radius: 30px;
  display: grid;
  animation: drink 15s ease infinite alternate-reverse;

  -webkit-filter: opacity(0.7);
  font-weight: 600;
  font-size: 20px;
  color: rgba(252, 198, 137, 0.977);
}
.shadow {
  height: 100%;
  background-color: rgba(26, 25, 25, 0.196);
  z-index: 300;
  font-size: 25px;
  display: grid;
  color: rgb(27, 24, 24);
  font-family: helvetica;
  place-content: center;
  padding-left: 20px;
}

/* DESKTOP RIGHT SIDE */
.right_side_desktop {
  display: grid;
  gap: 15px;
  padding: 10px;
  grid-template-rows: 2.2fr 1.3fr 0.5fr;
  background-color: rgba(253, 252, 252, 0.973);
}
.right_img_cont {
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
    "aa bb"
    "aa cc";
  column-gap: 15px;
  row-gap: 10px;
}
.right_img_st {
  grid-area: aa;
  max-height: 90%;

  margin-top: 20px;
  border-radius: 30px;
  background-image: url(./img/img6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.right_img_nd {
  grid-area: bb;

  border-radius: 30px;
  background-image: url(./img/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.right_img_rd {
  grid-area: cc;

  border-radius: 30px;
  background-image: url(./img/img4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.right_descr {
  font-size: 30px;
  display: grid;
  row-gap: 55px;
  padding-left: 8px;
  font-family: helvetica;
  border-bottom: 8px solid rgb(11, 100, 178);
  border-top: 8px solid rgb(11, 100, 178);
}
.right_price {
  padding: 8px;
  display: grid;
  place-content: center;
}
.right_price button {
  min-width: 400px;
  background-color: rgb(11, 100, 178);
  border: none;
  border-radius: 20px;
  padding: 15px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.right_price button:hover {
  background-color: rgba(50, 104, 151, 0.74);
}
.right_descr h2 {
  font-size: 32px;
}
@keyframes food {
  0% {
    background-image: url(./img/dish1.jpg);
    background-size: cover;
    background-position: center;
  }
  50% {
    background-image: url(./img/dish2.jpeg);
    background-size: cover;
    background-position: center;
  }
  100% {
    background-image: url(./img/dish3.jpg);
    background-size: cover;
    background-position: center;
  }
}

@keyframes drink {
  0% {
    background-image: url(./img/drink1.jpg);
    background-size: cover;
    background-position: center;
  }
  50% {
    background-image: url(./img/drink2.jpg);
    background-size: cover;
    background-position: center;
  }
  100% {
    background-image: url(./img/drink3.jpg);
    background-size: cover;
    background-position: center;
  }
}
@keyframes predisplay {
  0% {
    color: rgba(10, 4, 4, 0.829);
  }
  25% {
    color: rgba(43, 30, 30, 0.63);
  }
  50% {
    color: rgba(70, 63, 63, 0.555);
  }
  75% {
    color: rgba(105, 92, 92, 0.342);
  }
  100% {
    color: rgba(126, 117, 117, 0);
  }
}
@keyframes firstt {
  from {
    background-color: rgba(223, 61, 61, 0.767);
  }
  to {
    background-color: rgba(168, 88, 155, 0.733);
  }
}
@keyframes secondd {
  from {
    background-color: rgba(60, 173, 111, 0.733);
  }
  to {
    background-color: rgba(223, 61, 61, 0.767);
  }
}
@keyframes thirdd {
  from {
    background-color: rgba(66, 120, 165, 0.733);
  }
  to {
    background-color: rgba(60, 173, 111, 0.733);
  }
}
@keyframes fourth {
  from {
    background-color: rgba(168, 88, 155, 0.733);
  }
  to {
    background-color: rgba(66, 120, 165, 0.733);
  }
}

@media (max-width: 1278px) {
  .main_cont_desktop {
    display: none;
  }
}
@media (min-width: 1279px) {
  .main_cont {
    display: none;
  }
  footer {
    display: none;
  }
}
