* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
:root {
  --border: 3px solid red;
  --border2: 2px solid blue;
  --border3: 3px solid rgb(0, 255, 136);
  --white: rgb(228, 228, 228);
  --orange: rgb(228, 159, 80);
  --height: -webkit-fill-available;
  --tabbig: clamp(75px, 10.5vw, 90px);
  --deskbig: clamp(56px, 9vw, 70px);
  --h: helvetica;
  --b: rgba(31, 19, 19, 0.938);
  --l: 30px;
}
html {
  height: var(--height);
}
body {
  /* border: var(--border); */
  height: 100vh;
  height: var(--height);
  max-height: var(--height);
  overflow: hidden;
}
/* Side Menu Style */
.sidemenu_cont {
  /* border: var(--border); */
  height: 100%;
  max-height: var(--height);
  /* overflow: hidden; */
  position: fixed;
  bottom: 0px;
  top: 0px;
  background-color: rgba(46, 33, 33, 0.719);
  display: flex;
  column-gap: 20px;
  transition: width 0.5s ease-in;
  z-index: 999;
  overflow: hidden;
}
.sidemenu_cont .close {
  height: 40px;
  width: 40px;
  filter: invert(70%);
  margin-top: 15px;
}
.menu_cont {
  /* border: var(--border); */
  max-width: 80vw;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(58, 30, 30);
  row-gap: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* animation: openup 1s ease-in alternate; */
  transition: width ease-in 0.6s;
}
.openup {
  width: 80vw;
}
.unhide {
  width: 100vw;
}
.hide {
  display: none;
}
.closeup {
  width: 0vw;
}
#text-show {
  width: 100%;
}
#text-hide {
  width: 0vw;
}
.menu_cont .brand {
  padding-right: 20px;
  padding-left: 10px;
  max-height: 40px;
}

.menu_cont ul {
  /* border: var(--border2); */
  height: 60%;
  display: grid;
  column-gap: 10px;
  align-items: center;
  transition: all 0.6s ease-in;
  overflow: hidden;
}
.menu_cont ul li {
  display: flex;
  justify-content: start;
  column-gap: 10px;
  height: fit-content;
  border-right: 5px solid rgb(161, 140, 140);
  border-radius: 5px;
  align-items: center;
  padding: 5px 10px;
}
.menu_cont ul li:hover {
  background-color: rgba(161, 140, 140, 0.507);
}
.menu_cont ul li img {
  width: 40px;
  height: 40px;
  filter: invert(70%);
}
.menu_cont ul li h4 {
  color: white;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
}
.app {
  /* border: var(--border2); */
  height: var(--height);
  max-height: var(--height);
  max-width: 100vw;
  overflow: hidden;
}
.mobile_cont {
  /* border: var(--border); */
  /* position: fixed; */
  /* top: 0px; */
  /* padding-top: 10px; */
  max-height: var(--height);
  box-sizing: border-box;
  z-index: 100;
  display: grid;
  grid-template-rows: 30vh 50vh 45vh 58vh 10vh;
  overflow-y: auto;
}
.intro_cont {
  display: flex;
  position: relative;
  max-width: 100vw;
  background: url(./img/sun1.png),
    linear-gradient(to right, rgba(66, 46, 46, 0.89), rgba(94, 79, 79, 0.89));
  background-size: 50%, cover;
  background-repeat: no-repeat;
  background-position: 145% -80%;
  align-items: center;
  /* gap: 10px; */
  padding: 0px 5px;
  column-gap: 5px;
}
.intro-1 {
  /* border: var(--border3); */
  width: 45%;
  height: 65%;
  margin-top: 10%;
  background-color: rgb(228, 159, 80);
  background-image: url(./img/smile.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 150% 130%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.intro-1 div {
  /* border: var(--border2); */
  height: fit-content;
  height: 100%;
  background-image: url(./img/oklarpng.png);
  background-size: 190%;
  background-repeat: no-repeat;
}
.intro-1 h1 {
  /* border: var(--border); */
  font-size: 18px;
  font-family: helvetica;
  color: white;
  padding-left: 5%;
  letter-spacing: 1px;
  max-height: fit-content;
  vertical-align: baseline;
  display: grid;

  align-items: flex-start;
}
.intro-2 {
  /* border: var(--border3); */
  width: 55%;
  height: 80%;
  background-color: rgb(128, 95, 95);
  background-image: url(./img/coffee-cappuccino-espresso-tea-cafe-vector-cup-of-coffee-b38acae73aef556a0beeca6cd22e0dd0.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 99% 120%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 4px;
}
.intro-2 a {
  color: white;
  text-decoration: none;
  border: 3px solid rgb(204, 170, 19);
  width: fit-content;
  max-height: fit-content;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: helvetica;
  font-weight: 600;
  padding: 3px;
}
.intro-2 a span {
  margin-left: 1px;
  font-size: 20px;
  text-align: center;
}
.intro-2 h1 {
  /* border: var(--border); */
  font-size: 23px;
  font-family: helvetica;
  color: var(--white);
}
.intro-2 h4 {
  /* border: var(--border2); */
  font-family: helvetica;
  color: var(--white);
}
.toggler {
  position: absolute;
  top: 5%;
  width: 11vw;
  height: 12%;
  background-color: var(--orange);
  border-radius: 3px;
}
/* I kept another div inside the toggler so i can invert the background image without it affectiong the background color */
.bck_img {
  height: 100%;
  background-image: url(./img/menu.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  filter: invert(80%);
}
/* The discount styles*/
.discount {
  /* border: var(--border); */
  display: flex;
  background-color: white;
  column-gap: 10px;
  padding: 20px 2vw;
  position: relative;
}
.discount_text {
  /* border: var(--border2); */
  width: 35%;
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  height: fit-content;
}
.discount_text h5 {
  /* border: var(--border); */
  text-align: start;
  color: rgb(250, 184, 61);
  height: fit-content;
}
.discount_text h2 {
  /* border: var(--border); */
  text-align: start;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 17px;
  height: fit-content;
  letter-spacing: -1px;
}
.discount_text h2 span {
  font-style: italic;
  font-weight: 800;
  font-size: 23px;
}
.discount_text h6 {
  /* border: var(--border); */
  font-size: 19px;
  font-weight: 400;
  height: fit-content;
}
.discount_text button {
  background-color: transparent;
  border: 2px solid rgb(177, 105, 105);
  width: fit-content;
  height: fit-content;
  justify-self: center;
  padding: 0.5vh 2px;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  font-family: helvetica;
}
.discount_img {
  /* border: var(--border3); */
  width: 65%;
  background-image: url(./img/room.jpg);
  background-size: cover;
  background-position: center;
}
/*For the absolute price display*/
.d_price {
  border: 2px solid var(--white);
  position: absolute;
  width: 40%;
  height: fit-content;
  background-color: white;
  top: 80%;
  left: 55%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  padding: 3px 5px;
  padding-bottom: 10px;
}
.p_no {
  border-bottom: 3px solid rgb(161, 69, 69);
  font-size: 12px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  column-gap: 3px;
  font-family: helvetica;
  height: fit-content;
  padding-bottom: 3px;
}
.p_no h1 {
  font-size: 20px;
  letter-spacing: -1px;
  display: flex;
  column-gap: 3px;
}
.p_no h1 > span {
  font-size: 19px;
}
.p_no > div {
  /* border: var(--border2); */
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}
.p_info {
  font-weight: 800;
  margin-top: 1px;
  font-family: helvetica;
  font-size: 11px;
}
.option {
  /* border: var(--border2); */
  margin-top: 6vh;
  background-color: rgb(48, 38, 38);
  background-image: url(./img/leaf2.png), url(./img/sunflower.png);
  background-size: 40%, 30%;
  background-repeat: no-repeat;
  background-position: 100% 100%, 10% 290%;
  overflow: hidden;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.service {
  /* border: var(--border); */
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
}
.service h2 {
  /* border: var(--border); */
  color: var(--white);
  font-size: 17px;
  font-family: helvetica;
  letter-spacing: -1px;
  word-spacing: 2px;
  max-width: fit-content;
  line-height: 1.2;
}
.service h2 span {
  color: var(--orange);
  letter-spacing: -1px;
  word-spacing: -1px;
}
.s_list {
  /* border: var(--border3); */
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.s_list div {
  border-bottom: 2px solid rgb(129, 128, 128);
  /* border: var(--border); */
  color: white;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding-bottom: 1px;
}
.s_list div h6 {
  /* border: var(--border2); */
  display: grid;
  height: fit-content;
  align-self: flex-end;
  font-size: 15px;
}
.s_list div h1 {
  /* border: var(--border2); */
  height: fit-content;
  font-size: 20px;
  font-weight: 800;
}
.left {
  animation: slideright ease-in 1s alternate;
  display: flex;
}
.right {
  animation: slideleft ease-in 2s alternate;
  display: flex;
}
.right2 {
  animation: slideleft ease-in 2.5s alternate;
  display: flex;
}
.special {
  /* border: var(--border); */
  display: grid;
  height: 100%;
  grid-template-rows: 15% 85%;
  row-gap: 20px;
  padding: 20px 10px;
}
.s_title {
  /* border: var(--border2); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}
.s_title > div {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.s_title > div h2 {
  /* border: var(--border3); */
  font-size: 18px;
  letter-spacing: -1px;
  color: orange;
}
.s_title > div b {
  font-weight: 800;
  font-size: 24px;
  color: rgb(29, 27, 27);
  /* border: var(--border); */
  letter-spacing: -2px;
}
.s_title button {
  height: fit-content;
  padding: 6px 15px;
  background-color: transparent;
  border: 3px solid rgb(175, 171, 171);
  align-self: flex-end;
  font-weight: 600;
  color: rgb(34, 33, 33);
  font-size: 15px;
}
.slideshow_cont {
  /* border: var(--border3); */
  display: flex;
  column-gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
.slide_cont {
  /* border: var(--border); */
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 80%;
  max-width: 70%;
  row-gap: 5px;
  font-family: helvetica;
  scroll-snap-align: start;
}
.slide_cont img {
  height: 70%;
  /* border: var(--border2); */
  width: 100%;
}
.slide_cont div {
  font-size: 18px;
  /* border: var(--border2); */
  font-weight: 600;
  color: rgb(44, 42, 42);
}
.slide_cont div > span {
  font-size: 15px;
  text-decoration: line-through;
  margin-left: 6px;
  font-weight: 200;
  color: rgb(119, 118, 118);
}
.slide_cont h2 {
  /* border: var(--border3); */
  font-size: 17px;
}
footer {
  /* border: var(--border3); */
  display: flex;
  width: 100vw;
  /* max-height: fit-content; */
  padding: 10px 10px;
  background-color: rgb(48, 38, 38);
  justify-content: space-between;
}
.img_text {
  display: flex;
  /* border: var(--border2); */
  align-items: center;
  column-gap: 4px;
  color: white;
  max-width: 40%;
}
.img_text h1 {
  /* border: var(--border3); */
  font-size: 16px;
  font-family: helvetica;
}
.img_text img {
  max-height: min(50%, 60px);
}
.contact {
  display: flex;
  color: white;
  align-items: center;
  width: 70%;
  column-gap: 13px;
  /* border: var(--border); */
  justify-content: flex-end;
}
.num {
  display: flex;
  column-gap: 8px;
  align-items: center;
  /* border: var(--border); */
}
.num h6 {
  font-size: 14px;
  font-weight: 600;
}
.num div {
  width: 24px;
  height: 23px;
  max-width: 26px;
  max-height: 26px;
  transform: rotate(180deg);
  background-image: url(./img/phone.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(70%);
  background-position: center;
}
.contact a {
  background-color: rgb(240, 129, 25);
  color: white;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}

/* DESKTOP STYLE START HERE */
.desktop_cont {
  border: var(--border);
  height: var(--height);
  display: grid;
  overflow: scroll;
  grid-template-rows: 100vh;
  width: 100vw;
  max-width: 100vw;
}
.desk_intro_cont {
  border: var(--border3);
  min-width: 100%;
  display: grid;
  grid-template-rows: 13% 1fr;
  padding: 10px var(--l);
  background-color: var(--b);
}
.desk_nav {
  /* border: var(--border2); */
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: 40% 60%;
  column-gap: 10px;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(221, 218, 218, 0.199);
}
.desk_nav img {
  height: 100%;
  max-height: 9vh;
  width: clamp(250px, 100%, 800px);

  justify-self: start;
  /* border: var(--border2); */
}
.desk_nav ul {
  /* border: var(--border3); */
  justify-self: end;
  display: flex;
  color: rgb(218, 167, 74);
  list-style: none;
  align-items: center;
  column-gap: 7px;
  font-size: clamp(10px, 2vw, 19px);
  font-weight: 600;
  font-family: var(--h);
}
.desk_nav ul li {
  position: relative;
  display: flex;
  cursor: pointer;
}
.desk_nav ul li:hover::after {
  content: "";
  position: absolute;
  width: 10px;

  height: 100%;
  margin-left: calc(50% - 10px);
  border-bottom: 2px solid rgb(197, 195, 195);
  top: 0;
  left: 0;
  margin-top: 3px;
}
.desk_intro {
  border: var(--border);
  display: grid;
  grid-template-rows: 55vh 1fr;
  row-gap: 10px;
}
.desk_intro img {
  border: var(--border2);
  width: 100%;
  height: 100%;
}
.desk_intro section {
  border: var(--border3);
}
/* ANIMATIONS........................ */
@keyframes openup {
  from {
    width: 0vw;
  }
  to {
    width: 80vw;
  }
}
@keyframes slideleft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideright {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}
@media (min-width: 390px) and (max-width: 415px) {
  .s_list div {
    word-spacing: -1px;
  }
  .s_list div h6 {
    font-size: 23px;
    line-height: 1.4;
  }
  .s_list div h1 {
    font-size: 30px;
    line-height: 1.4;
  }
  .service h2 {
    font-size: 23px;
  }
  .option {
    background-position: 110% 100%, 10% 295%;
  }
}
@media (min-height: 736px) {
  .p_no > div {
    font-size: 15px;
    align-items: center;
    margin-left: 15px;
  }
  .p_info {
    font-size: 15px;
  }
}
@media (max-height: 750px) {
  .discount_text h5 {
    text-align: start;
    color: rgb(250, 184, 61);
    height: fit-content;
  }
  .discount_text h2 {
    height: fit-content;
    text-align: start;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 12px;
    height: fit-content;
    letter-spacing: -1px;
  }
  .discount_text h2 span {
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
  }
  .discount_text h6 {
    font-size: 15px;
  }
  .discount_text button {
    padding: 1px 1px;
    display: grid;
    height: 30px;
    font-size: 12px;
    place-content: center;
    text-align: center;
  }
}

/* For galaxy fold and 5 */
@media (max-width: 320px) {
  .intro-2 a {
    color: white;
    text-decoration: none;
    border: 3px solid rgb(204, 170, 19);
    width: fit-content;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: helvetica;
    font-weight: 600;
    padding: 0px;
    padding-left: 2px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .menu_cont ul li h4 {
    font-size: 18px;
  }
  .intro-2 a span {
    margin-left: 1px;
    font-size: 19px;
    margin-bottom: 2px;
  }
  .intro-2 h1 {
    margin-bottom: 2px;
    font-size: 15px;
  }
  .intro-2 h4 {
    font-size: 12px;
  }
  .intro {
    font-family: helvetica;
    font-size: 13px;
  }
  .toggler {
    height: 14%;
  }
  .discount_text button {
    padding: 3px 1px;
    display: grid;
    height: 40px;
    font-size: 12px;
    place-content: center;
    text-align: center;
    width: 105px;
  }
}
@media (max-width: 281px) {
  .discount_text button {
    padding: 1px 1px;
    display: grid;
    font-size: 10px;
    height: 30px;
    place-content: center;
    text-align: center;
  }
  .menu_cont ul li h4 {
    font-size: 15px;
  }
  .img_text h1 {
    font-size: 13px;
  }
  .option {
    background-color: rgb(48, 38, 38);
    background-image: url(./img/leaf2.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .num div {
    height: 16px;
    background-size: 80%;
    width: 16px;
    background-repeat: no-repeat;
  }
  .contact {
    width: 60%;
  }
  .contact a {
    font-size: 12px;
    width: 80px;
    padding: 2px;
  }
  .discount_text h6 {
    font-size: 16px;
  }
  .intro_cont {
    background-size: 60%, cover;
  }
  .slide_cont h2 {
    background-size: 60%, cover;

    font-size: 15px;
  }
  .s_title button {
    font-size: 12px;
  }
  .s_title div b {
    font-size: 19px;
  }
}
@media (width: 375px) and (height: 667px) {
  .intro-2 a {
    width: fit-content;
    letter-spacing: 1px;
    font-size: 12px;
    padding-left: 2px;
    height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .slide_cont h2 {
    text-align: center;
    font-size: 16px;
  }
  .menu_cont ul li h4 {
    font-size: 19px;
  }
  .toggler {
    height: 16%;
  }
  .discount_text h6 {
    font-size: 16px;
  }
  .intro_cont {
    background-position: 147% -180%;
  }
  .s_list div h6 {
    font-size: 20px;
    line-height: 1;
  }
  .service h2 {
    font-size: 28px;
    line-height: 1;
  }
  .option {
    background-position: 110% 100%, 10% 195px;
  }
}
@media (max-width: 414px) and (min-width: 414px) and (max-height: 736px) {
  .discount_text h6 {
    font-size: 20px;
  }
  .toggler {
    height: 16%;
  }
  .intro_cont {
    background-position: 147% -185%;
  }
  .option {
    background-position: 110% 100%, 10% 225px;
  }
}
@media (width: 320px) and (height: 568px) {
  .mobile_cont {
    grid-template-rows: 40vh;
  }
  .intro-2 a {
    font-size: 15px;
    padding: 0px 3px;
  }
  .intro-2 a span {
    margin-left: 4px;
    font-size: 19px;
    margin-bottom: 2px;
  }
  .intro-2 h1 {
    margin-bottom: 2px;
  }
  .intro-2 h4 {
    font-size: 17px;
  }
  .intro {
    font-family: helvetica;
    font-size: 16px;
  }
  .discount_text h6 {
    font-size: 16px;
    font-weight: 600;
  }
  .discount_text h2 {
    font-size: 14px;
  }
  .option {
    background-color: rgb(48, 38, 38);
    background-image: url(./img/leaf2.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .slide_cont h2 {
    font-size: 15px;
  }
  .num div {
    height: 18px;
    background-size: 80%;
    width: 18px;
    background-repeat: no-repeat;
  }
  .mobile_cont {
    grid-template-rows: 30vh 70vh 50vh 80vh 10vh;
  }
  .service h2 {
    font-size: 18px;
  }
  .s_list div h6 {
    font-size: 19px;
  }
  .img_text h1 {
    font-size: 14px;
  }
  .img_text img {
    width: 25px;
    max-height: 5vh;
  }
}
@media (width: 360px) and (height: 740px) {
  .slide_cont h2 {
    font-size: 18px;
  }
}
@media (min-width: 450px) {
  .option {
    background-color: rgb(48, 38, 38);
    background-image: url(./img/leaf2.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
}
